body {
  background-color: #F5F6F8;
}

.purpleBg {
  background-color: #5865E0;
}

.grayBg {
  background-color: #F5F6F8;
}

.whiteBg {
  background-color: #FFFFFF;
}

.darkBlueBg {
  background-color: #131822;
}

.lightBlueBg {
  background-color: #19212D !important;
}

.toolbarStyle {
  flex-grow: 1;
  padding: 25px;
  font-weight: bolder;
}

// .cInherit{
//   background-color: inherit;
// }
